* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #111;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 60vh;
  background: url('images/hero2.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #0077ff;
  color: white;
  text-decoration: none;
}

/* SECTIONS */
.section {
  padding: 60px 10%;
}

.light {
  background: #f4f4f4;
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile-img {
  width: 150px;
  border-radius: 10px;
}

/* PROJECT CARDS */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* TIMELINE */
.timeline div {
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}